.navbar {
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    transition: all .4s;
    z-index: 10;
}

.navbar_active {
    box-shadow: 0 0 15px 0 #5e59592a;
}

.navbar_flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo_link {
    font-size: 40px;
    font-family: Unbounded;
    font-weight: 700;

}


/* Button C */
.custom-btn_nav {
    width: 200px;
    height: 60px;
    color: #fff;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Unbounded;
    position: relative;
    display: inline-block;
    /* box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1); */
    outline: none;
}
.btn-11_nav {
    border: none;
    background: rgb(33, 55, 251);
    background: linear-gradient(0deg, rgb(37, 33, 251) 0%, rgb(59, 105, 230) 100%);
    color: #fff;
    overflow: hidden;
}
.btn-11_nav:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11_nav:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11_nav:hover {
    opacity: .7;
}
.btn-11_nav:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}
@keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}
/* button c */

.navigations {
    /* max-width: 560px; */
    display: flex;
    align-items: center;
    margin-right: 20px;
}


.nav_links {
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    color: #00000098;
}

.nav_links:first-child{
    margin-left: 0;
}

.phone_btn_link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Unbounded;
    width: 200px;
    height: 50px;
    background-color: rgba(0, 52, 194, 0.762);
    color: #ffff;
    font-size: 22px;
    font-weight: 600;
    border-radius: 30px;
    letter-spacing: 2px;
    font-family: 'Courier New';
}



.navbar_lang_and_btn_div {
    display: flex;
    align-items: center;
}





.lang_option {
    background: none;
    border: none;
    margin-right: 60px;
    outline: none;
    font-size: 20px;
    color: #000000a6;
    font-weight: 600;
    border: 2px solid #0000007a;
    padding: 5px 7px;
    border-radius: 10px;
    margin-left: 10px;
}


.nav_rigth_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 950px;
}


.open_menu, .close_menu {
    background: none;
    border: none;
    outline: none;
    display: none;
}

.open_icon, .close_icon {
    font-size: 35px;
    font-weight: 800;
}

.gg {
    display: none;
}

.dark_div {
    position: fixed;
    background-color: #00000056;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}



@media (max-width: 1100px) {
    .nav_links {
        font-size: 19px;
    }

    .lang_option {
        font-size: 18px;
    }

    .phone_btn_link {
        font-size: 20px;
        width: 180px;
    }
}

@media (max-width: 958px) {
    .navigations {
        width: 380px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100px;
        transform: translateX(330px);
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px 5px rgba(17, 0, 17, 0.349);
        flex-direction: column;
        align-items: flex-start;
        padding: 0 40px;
        transition: .3s all;
        z-index: 100;
    }

    .dark_div_active {
        display: inline-block;
        z-index: 12;
    }

    .handle {
        transform: translateX(0);
    }

    .nav_links {
        margin: 0;
        margin-top: 30px;
        font-size: 22px;
        letter-spacing: 3px;
        font-weight: 600;
    }

    .close_menu, .open_menu {
        display: inline-block;
    }

    .close_menu {
        margin-top:28px;
        transform: translateX(210px);
    }

    .gg1 {
        display: none;
    }

    .gg {
        display: inline-block;
        margin-top: 100px;
        margin-left: 20px;
    }

    

    .open_menu {
        z-index: 11;
    }
}





